# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
android/
ios/

# Environment variables
.env
.env.local
.env*.local

# Temporary files & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# Unreal Engine generated artifacts
unreal/Binaries/
unreal/DerivedDataCache/
unreal/Intermediate/
unreal/Saved/
unreal/.vs/
unreal/*.sln
unreal/*.vcxproj
unreal/*.opensdf
unreal/*.sdf
loveverse/Binaries/
loveverse/DerivedDataCache/
loveverse/Intermediate/
loveverse/Saved/
loveverse/.vs/
loveverse/*.sln
loveverse/*.vcxproj
loveverse/*.opensdf
loveverse/*.sdf
